$dark: #131515;
$main: #252b2b;
$contrast: #4c4f54;
$light: #727272;
$white: #f3f0ec;
$accent: #7289da;
$dark-accent: #134370;

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: $main;
}
