$dark: #131515;
$main: #252b2b;
$contrast: #4c4f54;
$light: #727272;
$white: #dddddd;
$accent: #60b2ec;
$dark-accent: #076dcc;

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: $main;
}
